@font-face {
   font-family: 'Permanent Marker';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/radzisz/AppData/Local/Mobirise.com/Mobirise/projects/project-2017-09-28_202645/fonts/Permanent Marker/regular.ttf') format('truetype');
}
